# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CalCOS Pytest

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    name: ${{ matrix.toxenv }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toxenv: [ check-style, check-build ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'tox.ini'
      - run: pip install tox
      - run: tox -e ${{ matrix.toxenv }}
  test:
    name: ${{ matrix.toxenv }} (Python ${{ matrix.python }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      TEST_BIGDATA: https://bytesalad.stsci.edu/artifactory
      lref: /grp/hst/cdbs/lref/
    strategy:
      fail-fast: false
      matrix:
        toxenv: [ test-xdist ]
        python: [ '3.9', '3.10', '3.11' ]
        os: [ ubuntu-latest,macos-latest ]
        include:
          - toxenv: test-cov-xdist
            os: ubuntu-latest
            python: '3.11'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: 'tox.ini'
      - run: pip install tox
      - run: tox -e ${{ matrix.toxenv }}
      - if: contains(matrix.toxenv, '-cov')
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          flags: unit
          fail_ci_if_error: true
